[data-component="Widgets/AxesWidget"] {
    .axes-display-panel {
        margin: 0 4px;

        .axis-label {
            text-align: center;
            width: 1%;

            font-size: 24px;
            padding: 0 10px;

            @media (min-width: 1200px) {
                font-size: 30px;
                padding: 0 20px;
            }

        }
        .axis-position {
            padding: 0 10px;
            text-align: right;
            white-space: nowrap;

            .integer-part,
            .decimal-point,
            .fractional-part {
                font-size: 24px;
            }
            .dimension-unit {
                font-size: 12px;
            }

            @media (min-width: 1200px) {
                .integer-part,
                .decimal-point,
                .fractional-part {
                    font-size: 30px;
                }
                .dimension-unit {
                    font-size: 14px;
                }
            }

            .integer-part {
                width: 90px;
                text-align: right;
            }

            .dimension-unit {
                vertical-align: top;
                margin-left: 8px;
            }
        }
        .axis-control {
            width: 1%;
            padding: 0 4px;
            text-align: center;

            .icon {
                font-size: 12px;
            }
        }
    }

    .axes-control-panel {
        background-color: #eee;
        padding: 10px;

        .jog-x,
        .jog-y,
        .jog-z {
            font-size: 24px;
        }
        .jog-x {
            padding: 0 5px;
        }
        .jog-y {
            padding: 5px;
            .jog-y-plus {
                margin-bottom: 10px;
            }
        }
        .jog-z {
            padding: 5px;
            .jog-z-plus {
                margin-bottom: 10px;
            }
        }
        .jog-params {
        }
    }

}
