[data-component="Widgets/AxesWidget"] {
    .axes-display-panel {
        border-left: none;
        border-right: none;

        .axis-label {
            padding: 0 10px;
            text-align: center;
            width: 1%;

            font-size: 24px;

            @media (min-width: 1200px) {
                font-size: 30px;
            }

        }
        .axis-position {
            padding: 0 10px;
            text-align: right;
            white-space: nowrap;

            .integer-part,
            .decimal-point,
            .fractional-part {
                font-size: 24px;
            }
            .dimension-unit {
                font-size: 12px;
            }

            @media (min-width: 1200px) {
                .integer-part,
                .decimal-point,
                .fractional-part {
                    font-size: 30px;
                }
                .dimension-unit {
                    font-size: 14px;
                }
            }

            .integer-part {
                width: 90px;
                text-align: right;
            }

            .dimension-unit {
                vertical-align: top;
                margin-left: 8px;
            }
        }
        .axis-control {
            width: 1%;
            white-space: nowrap;

            ul {
                margin-bottom: 0;
            }

            .axis-control-item {
                text-align: center;
                padding: 0 4px;

                &:hover {
                    background-color: #ddd;
                    cursor: pointer;
                }
            }
            .axis-control-item + .axis-control-item {
                border-top: 1px solid #ddd;
            }
        }
    }

    .axes-control-panel {
    }

}
