[data-component="Widgets/ConnectionWidget"] {
    .control-panel {
        padding: 10px;

        button[name="btn-refresh"] {
            .icon {
                font-size: 18px;
            }
        }
    }
}
