[data-component="Widgets/ConsoleWidget"] {
    padding: 10px;

    .console-input {
        margin-bottom: 10px;
    }

    .console-window {
        overflow: auto;
        min-height: 200px;
        max-height: 400px;
        border: 1px solid #ddd;
    }
}
