[data-component="Widgets/GcodeWidget"] {
    padding: 10px;

    .public_fixedDataTable_header {
        border: none;
    }

    .text-overflow-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }
}
