[data-component="Widgets/GcodeWidget"] {

    .gcode-wrapper {
        padding: 0 5px 5px;
    }
    .text-overflow-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }
}
